/target
**/*.rs.bk
node_modules
yarn.lock
tsconfig.tsbuildinfo
yarn-error.log
.linaria-cache
.env
.jwks.json
msg_generated.rs
.logv
.cache
.cert
.ssh
/packages/**/public
/packages/**/dist
/packages/**/lib

*.xcbkptlist
*.xcuserstate